<html>
<body>
<div class="errors">
    <% if(errorsValidation) { %>
    <ul>
        <% for(let i= 0; i < errorsValidation.length; i++){ %>
        <li><%= errorsValidation[i].param %> - <%= errorsValidation[i].msg %></li>
        <% } %>
    </ul>
    <% } %>
</div>
<form action="/produtos" method="POST">
    <div>
        <label for="titulo">Título</label>
        <input id="titulo" value="<%= produto.titulo %>" type="text" name="titulo" placeholder="coloque o título">
    </div>
    <div>
        <label for="preco">Preço</label>
        <input id="preco" type="text" value="<%= produto.preco %>" name="preco" placeholder="coloque o preço">
    </div>
    <div>
        <label for="descricao">Descrição</label>
        <textarea id="descricao" rows="10" cols="10" name="descricao" placeholder="coloque o título"><%= produto.descricao %></textarea>
    </div>
    <input type="submit" value="gravar"/>
</form>
</body>
</html>